# Preprocessing the data

## Importing the libraries

In [14]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

## Importing the dataset

##### Variable definitions

In [15]:
var_definitions = pd.read_csv("https://raw.githubusercontent.com/thembeks/Regression-Sendy-Logistics-Challenge-Team-14/Predict/VariableDefinitions.csv", names=['Column_Name', 'Description'])
var_definitions.style.set_properties(subset=['Description'], **{'width': '600px'})

##### Rider dataframe

In [16]:
rider= pd.read_csv('https://raw.githubusercontent.com/thembeks/Regression-Sendy-Logistics-Challenge-Team-14/Predict/Riders.csv')
rider.columns= [col.replace(' ', '_') for col in rider.columns]
rider.head()

       Rider_Id  No_Of_Orders   Age  Average_Rating  No_of_Ratings
0  Rider_Id_396          2946  2298            14.0           1159
1  Rider_Id_479           360   951            13.5            176
2  Rider_Id_648          1746   821            14.3            466
3  Rider_Id_753           314   980            12.5             75
4  Rider_Id_335           536  1113            13.7            156

In [17]:
rider.info()
rider.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 5 columns):
Rider_Id          960 non-null object
No_Of_Orders      960 non-null int64
Age               960 non-null int64
Average_Rating    960 non-null float64
No_of_Ratings     960 non-null int64
dtypes: float64(1), int64(3), object(1)
memory usage: 37.6+ KB

(960, 5)

##### Sample Submissions dataframe

In [18]:
sample_submission= pd.read_csv('https://raw.githubusercontent.com/thembeks/Regression-Sendy-Logistics-Challenge-Team-14/Predict/SampleSubmission.csv')
sample_submission.columns= [col.replace(' ', '_') for col in sample_submission.columns]
sample_submission.head()

         Order_No  Time_from_Pickup_to_Arrival
0  Order_No_19248                        567.0
1  Order_No_12736                       4903.0
2    Order_No_768                       5649.0
3  Order_No_15332                          NaN
4  Order_No_21373                          NaN

In [19]:
sample_submission.info()
sample_submission.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7068 entries, 0 to 7067
Data columns (total 2 columns):
Order_No                       7068 non-null object
Time_from_Pickup_to_Arrival    3 non-null float64
dtypes: float64(1), object(1)
memory usage: 110.6+ KB

(7068, 2)

##### Training set dataframe

In [20]:
train= pd.read_csv('https://raw.githubusercontent.com/thembeks/Regression-Sendy-Logistics-Challenge-Team-14/Predict/Train.csv')
train.columns= [col.replace(' ', '_') for col in train.columns]
train.head()

,Order_No,User_Id,Vehicle_Type,Platform_Type,Personal_or_Business,Placement_-_Day_of_Month,Placement_-_Weekday_(Mo_=_1),Placement_-_Time,Confirmation_-_Day_of_Month,Confirmation_-_Weekday_(Mo_=_1),...,Arrival_at_Destination_-_Time,Distance_(KM),Temperature,Precipitation_in_millimeters,Pickup_Lat,Pickup_Long,Destination_Lat,Destination_Long,Rider_Id,Time_from_Pickup_to_Arrival
0,Order_No_4211,User_Id_633,Bike,3,Business,9,5,9:35:46 AM,9,5,...,10:39:55 AM,4,20.4,NaN,-1.317755,36.830370,-1.300406,36.829741,Rider_Id_432,745
1,Order_No_25375,User_Id_2285,Bike,3,Personal,12,5,11:16:16 AM,12,5,...,12:17:22 PM,16,26.4,NaN,-1.351453,36.899315,-1.295004,36.814358,Rider_Id_856,1993
2,Order_No_1899,User_Id_265,Bike,3,Business,30,2,12:39:25 PM,30,2,...,1:00:38 PM,3,NaN,NaN,-1.308284,36.843419,-1.300921,36.828195,Rider_Id_155,455
3,Order_No_9336,User_Id_1402,Bike,3,Business,15,5,9:25:34 AM,15,5,...,10:05:27 AM,9,19.2,NaN,-1.281301,36.832396,-1.257147,36.795063,Rider_Id_855,1341
4,Order_No_27883,User_Id_1737,Bike,1,Personal,13,1,9:55:18 AM,13,1,...,10:25:37 AM,9,15.4,NaN,-1.266597,36.792118,-1.295041,36.809817,Rider_Id_770,1214

In [21]:
train.info()
train.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21201 entries, 0 to 21200
Data columns (total 29 columns):
Order_No                                     21201 non-null object
User_Id                                      21201 non-null object
Vehicle_Type                                 21201 non-null object
Platform_Type                                21201 non-null int64
Personal_or_Business                         21201 non-null object
Placement_-_Day_of_Month                     21201 non-null int64
Placement_-_Weekday_(Mo_=_1)                 21201 non-null int64
Placement_-_Time                             21201 non-null object
Confirmation_-_Day_of_Month                  21201 non-null int64
Confirmation_-_Weekday_(Mo_=_1)              21201 non-null int64
Confirmation_-_Time                          21201 non-null object
Arrival_at_Pickup_-_Day_of_Month             21201 non-null int64
Arrival_at_Pickup_-_Weekday_(Mo_=_1)         21201 non-null int64
Arrival_at_Pickup_-_Time                     21201 non-null object
Pickup_-_Day_of_Month                        21201 non-null int64
Pickup_-_Weekday_(Mo_=_1)                    21201 non-null int64
Pickup_-_Time                                21201 non-null object
Arrival_at_Destination_-_Day_of_Month        21201 non-null int64
Arrival_at_Destination_-_Weekday_(Mo_=_1)    21201 non-null int64
Arrival_at_Destination_-_Time                21201 non-null object
Distance_(KM)                                21201 non-null int64
Temperature                                  16835 non-null float64
Precipitation_in_millimeters                 552 non-null float64
Pickup_Lat                                   21201 non-null float64
Pickup_Long                                  21201 non-null float64
Destination_Lat                              21201 non-null float64
Destination_Long                             21201 non-null float64
Rider_Id                                     21201 non-null object
Time_from_Pickup_to_Arrival                  21201 non-null int64
dtypes: float64(6), int64(13), object(10)
memory usage: 4.7+ MB

(21201, 29)

In [22]:
#x_train= train.iloc[:, :-1]
#y_train=train.iloc[:, -1]

##### Testing set dataframe

In [23]:
test= pd.read_csv('https://raw.githubusercontent.com/thembeks/Regression-Sendy-Logistics-Challenge-Team-14/Predict/Test.csv')
test.columns= [col.replace(' ', '_') for col in test.columns]
test.head()

,Order_No,User_Id,Vehicle_Type,Platform_Type,Personal_or_Business,Placement_-_Day_of_Month,Placement_-_Weekday_(Mo_=_1),Placement_-_Time,Confirmation_-_Day_of_Month,Confirmation_-_Weekday_(Mo_=_1),...,Pickup_-_Weekday_(Mo_=_1),Pickup_-_Time,Distance_(KM),Temperature,Precipitation_in_millimeters,Pickup_Lat,Pickup_Long,Destination_Lat,Destination_Long,Rider_Id
0,Order_No_19248,User_Id_3355,Bike,3,Business,27,3,4:44:10 PM,27,3,...,3,5:06:47 PM,8,NaN,NaN,-1.333275,36.870815,-1.305249,36.822390,Rider_Id_192
1,Order_No_12736,User_Id_3647,Bike,3,Business,17,5,12:57:35 PM,17,5,...,5,1:25:37 PM,5,NaN,NaN,-1.272639,36.794723,-1.277007,36.823907,Rider_Id_868
2,Order_No_768,User_Id_2154,Bike,3,Business,27,4,11:08:14 AM,27,4,...,4,11:57:54 AM,5,22.8,NaN,-1.290894,36.822971,-1.276574,36.851365,Rider_Id_26
3,Order_No_15332,User_Id_2910,Bike,3,Business,17,1,1:51:35 PM,17,1,...,1,2:16:52 PM,5,24.5,NaN,-1.290503,36.809646,-1.303382,36.790658,Rider_Id_685
4,Order_No_21373,User_Id_1205,Bike,3,Business,11,2,11:30:28 AM,11,2,...,2,11:56:04 AM,6,24.4,NaN,-1.281081,36.814423,-1.266467,36.792161,Rider_Id_858

In [24]:
test.info()
test.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7068 entries, 0 to 7067
Data columns (total 25 columns):
Order_No                                7068 non-null object
User_Id                                 7068 non-null object
Vehicle_Type                            7068 non-null object
Platform_Type                           7068 non-null int64
Personal_or_Business                    7068 non-null object
Placement_-_Day_of_Month                7068 non-null int64
Placement_-_Weekday_(Mo_=_1)            7068 non-null int64
Placement_-_Time                        7068 non-null object
Confirmation_-_Day_of_Month             7068 non-null int64
Confirmation_-_Weekday_(Mo_=_1)         7068 non-null int64
Confirmation_-_Time                     7068 non-null object
Arrival_at_Pickup_-_Day_of_Month        7068 non-null int64
Arrival_at_Pickup_-_Weekday_(Mo_=_1)    7068 non-null int64
Arrival_at_Pickup_-_Time                7068 non-null object
Pickup_-_Day_of_Month                   7068 non-null int64
Pickup_-_Weekday_(Mo_=_1)               7068 non-null int64
Pickup_-_Time                           7068 non-null object
Distance_(KM)                           7068 non-null int64
Temperature                             5631 non-null float64
Precipitation_in_millimeters            199 non-null float64
Pickup_Lat                              7068 non-null float64
Pickup_Long                             7068 non-null float64
Destination_Lat                         7068 non-null float64
Destination_Long                        7068 non-null float64
Rider_Id                                7068 non-null object
dtypes: float64(6), int64(10), object(9)
memory usage: 1.3+ MB

(7068, 25)

## Missing data

## Encoding categorical data

##### Training set dataframe

In [26]:
train=  pd.get_dummies(train, columns=['Vehicle_Type', 'Platform_Type', 'Personal_or_Business'])

In [27]:
train.head()

,Order_No,User_Id,Placement_-_Day_of_Month,Placement_-_Weekday_(Mo_=_1),Placement_-_Time,Confirmation_-_Day_of_Month,Confirmation_-_Weekday_(Mo_=_1),Confirmation_-_Time,Arrival_at_Pickup_-_Day_of_Month,Arrival_at_Pickup_-_Weekday_(Mo_=_1),...,Destination_Long,Rider_Id,Time_from_Pickup_to_Arrival,Vehicle_Type_Bike,Platform_Type_1,Platform_Type_2,Platform_Type_3,Platform_Type_4,Personal_or_Business_Business,Personal_or_Business_Personal
0,Order_No_4211,User_Id_633,9,5,9:35:46 AM,9,5,9:40:10 AM,9,5,...,36.829741,Rider_Id_432,745,1,0,0,1,0,1,0
1,Order_No_25375,User_Id_2285,12,5,11:16:16 AM,12,5,11:23:21 AM,12,5,...,36.814358,Rider_Id_856,1993,1,0,0,1,0,0,1
2,Order_No_1899,User_Id_265,30,2,12:39:25 PM,30,2,12:42:44 PM,30,2,...,36.828195,Rider_Id_155,455,1,0,0,1,0,1,0
3,Order_No_9336,User_Id_1402,15,5,9:25:34 AM,15,5,9:26:05 AM,15,5,...,36.795063,Rider_Id_855,1341,1,0,0,1,0,1,0
4,Order_No_27883,User_Id_1737,13,1,9:55:18 AM,13,1,9:56:18 AM,13,1,...,36.809817,Rider_Id_770,1214,1,1,0,0,0,0,1

##### Test set dataframe

In [28]:
test=  pd.get_dummies(test, columns=['Vehicle_Type', 'Platform_Type', 'Personal_or_Business'])

In [29]:
test.head()

,Order_No,User_Id,Placement_-_Day_of_Month,Placement_-_Weekday_(Mo_=_1),Placement_-_Time,Confirmation_-_Day_of_Month,Confirmation_-_Weekday_(Mo_=_1),Confirmation_-_Time,Arrival_at_Pickup_-_Day_of_Month,Arrival_at_Pickup_-_Weekday_(Mo_=_1),...,Destination_Lat,Destination_Long,Rider_Id,Vehicle_Type_Bike,Platform_Type_1,Platform_Type_2,Platform_Type_3,Platform_Type_4,Personal_or_Business_Business,Personal_or_Business_Personal
0,Order_No_19248,User_Id_3355,27,3,4:44:10 PM,27,3,4:44:29 PM,27,3,...,-1.305249,36.822390,Rider_Id_192,1,0,0,1,0,1,0
1,Order_No_12736,User_Id_3647,17,5,12:57:35 PM,17,5,12:59:17 PM,17,5,...,-1.277007,36.823907,Rider_Id_868,1,0,0,1,0,1,0
2,Order_No_768,User_Id_2154,27,4,11:08:14 AM,27,4,11:25:05 AM,27,4,...,-1.276574,36.851365,Rider_Id_26,1,0,0,1,0,1,0
3,Order_No_15332,User_Id_2910,17,1,1:51:35 PM,17,1,1:53:27 PM,17,1,...,-1.303382,36.790658,Rider_Id_685,1,0,0,1,0,1,0
4,Order_No_21373,User_Id_1205,11,2,11:30:28 AM,11,2,11:34:45 AM,11,2,...,-1.266467,36.792161,Rider_Id_858,1,0,0,1,0,1,0

## Splitting the dataset

## Feature scaling

# Exploratory Data Analysis

In [30]:
from pandas_profiling import ProfileReport
from IPython.display import IFrame

##### Rider dataframe

In [32]:
prof_rider = ProfileReport(rider, check_correlation = True)
prof_rider.to_file(outputfile='output.html')

HtmlFile = open('output.html', 'r', encoding='utf-8')
source_code = HtmlFile.read()

IFrame(src='./output.html', width=900, height=800)

C:\Users\Suzzy\Anaconda3\lib\site-packages\pandas_profiling\describe.py:392: FutureWarning: The join_axes-keyword is deprecated. Use .reindex or .reindex_like on the result to achieve the same functionality.
  variable_stats = pd.concat(ldesc, join_axes=pd.Index([names]), axis=1)

##### Sample Submission dataframe

In [33]:
prof_sample = ProfileReport(sample_submission, check_correlation = True)
prof_sample.to_file(outputfile='output.html')

HtmlFile = open('output.html', 'r', encoding='utf-8')
source_code = HtmlFile.read()

IFrame(src='./output.html', width=900, height=800)

C:\Users\Suzzy\Anaconda3\lib\site-packages\pandas_profiling\describe.py:392: FutureWarning: The join_axes-keyword is deprecated. Use .reindex or .reindex_like on the result to achieve the same functionality.
  variable_stats = pd.concat(ldesc, join_axes=pd.Index([names]), axis=1)

##### Training set dataframe

In [34]:
prof_train = ProfileReport(train, check_correlation = True)
prof_train.to_file(outputfile='output.html')

HtmlFile = open('output.html', 'r', encoding='utf-8')
source_code = HtmlFile.read()

IFrame(src='./output.html', width=900, height=800)

C:\Users\Suzzy\Anaconda3\lib\site-packages\pandas_profiling\describe.py:392: FutureWarning: The join_axes-keyword is deprecated. Use .reindex or .reindex_like on the result to achieve the same functionality.
  variable_stats = pd.concat(ldesc, join_axes=pd.Index([names]), axis=1)

# Base Model